<div class="signup">
  <div class="col-md-8 col-md-offset-4 ">
    <div class="container">
      <div class="well well-sm">
        <form id="donorregister" class="form form-horizontal">
          <div class="row form-group">
            <h3>Donor Register</h3>
          </div>
          <div class="row form-group">
            <div class="col-5 errmsg"> <br />
              <label id="lblName">{{errorMsg}}<br /><br /></label>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="donorFullName">Donor Name</label>
            </div>
            <div class="col-5">
              <input [(ngModel)]="donorFullName" name="donorFullName" type="text" maxlength="60" style="width: 300px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="donorID">Donor ID</label>
            </div>
            <div class="col-5">
              <input [(ngModel)]="donorID" name="donorID" type="text" maxlength="60" style="width: 300px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="donorPassword">Password</label>
            </div>
            <div class="col-5">
              <input [(ngModel)]="donorPassword" name="donorPassword" type="password" maxlength="60" style="width: 300px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="donorAge">Donor Age</label>
            </div>
            <div class="col-5">
              <input [(ngModel)]="donorAge" name="donorPassword" type="number" maxlength="60" style="width: 300px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="fitnessReport">Fitness Report</label>
            </div>
            <div class="col-5">
              <textarea [(ngModel)]="fitnessReport" name="donorPassword" type="textarea" style="width: 300px; height: 100px;"
                placeholder="Physician Report about the health condition of the Donor with timestamp. eg:1/1/2019: Blood Report - Cleared.">
                </textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="physicianApproval">Physician Approval</label>
            </div>
            <div class="col-5">
              <select name="physicianApproval" [(ngModel)]="physicianApproval">
                <option value="Approved"> Approved </option>
                <option value="Rejected">Rejected</option>
              </select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 text-center">
              <button (click)="donorregister($event)">Register</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
